  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{device.isEdit ? 'Editar': 'Agregar'}} Dispositivo</h5>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
    <ng-container *ngIf="status.data && !status.loading && !status.error">
        <form class="forms-sample" [formGroup]="form">
                  <div class="row d-flex justify-content-center">
                      <div class="col-10">
                          <div class="row mb-2">
                              <div class="col-12 col-md-6">
                                  <div class="form-group mb-0">
                                      <label for="exampleInputUsercalculation2"
                                          class="col-sm-12 col-form-label mb-0">Cliente</label>
                                      <div class="col-12 ">
                                          <select class="custom-select form-control"
                                              id="exampleFormControlSelect1" formControlName="client"
                                              [ngClass]="{ 'is-invalid': form.controls.client.invalid && form.controls.client.touched}">
                                              <option selected disabled>Seleccione un cliente</option>
                                              <ng-container *ngFor="let item of clients; let i = index;" >
                                                <option [value]="item.idClient">{{item.name}}</option>
    
                                              </ng-container>
                                          </select>
                                          <div *ngIf="form.controls.client.invalid" class="invalid-feedback">
                                              <p class="text-danger mt-1">Dato Obligatorio</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-12 col-md-6">
                                  <div class="form-group mb-0">
                                      <label for="exampleInputEmail2"
                                          class="col-sm-12 col-form-label mb-0">Nombre</label>
                                      <div class="col-12 ">
                                          <input type="email" class="form-control" id="exampleInputEmail2"
                                              autocomplete="off" placeholder="Nombre" formControlName="name"
                                              [ngClass]="{ 'is-invalid': form.controls.name.invalid && form.controls.name.touched}">
                                          <div *ngIf="form.controls.name.invalid" class="invalid-feedback">
                                              <p class="text-danger mt-1">Dato Obligatorio</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
    
                          </div>
                          <div class="row">
                              <div class="col-12 col-md-6">
                                  <div class="form-group mb-0">
                                      <label for="exampleInputMobile"
                                          class="col-sm-12 col-form-label mb-0">Descripción</label>
                                      <div class="col-12 ">
                                          <input type="text" class="form-control" id="exampleInputMobile"
                                              placeholder="" formControlName="description"
                                              [ngClass]="{ 'is-invalid': form.controls.description.invalid && form.controls.description.touched}">
                                          <div *ngIf="form.controls.description.invalid" class="invalid-feedback">
                                              <p class="text-danger mt-1">Dato Obligatorio</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-12 col-md-6">
                                  <div class="form-group">
                                      <label for="exampleInputPassword2" class="col-sm-12 col-form-label mb-0">Número
                                          de Serie</label>
                                      <div class="col-12 ">
                                          <input type="text" class="form-control" id="exampleInputPassword2"
                                              autocomplete="off" placeholder="" formControlName="serialNumber"
                                              [ngClass]="{ 'is-invalid': form.controls.serialNumber.invalid && form.controls.serialNumber.touched}">
                                          <div *ngIf="form.controls.serialNumber.invalid"
                                              class="invalid-feedback">
                                              <p class="text-danger mt-1">Dato Obligatorio</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
    
                          </div>
                          <div class="row">
                              <div class="col-12 col-md-6">
                                  <div class="form-group">
                                      <label for="exampleInputPassword2"
                                          class="col-sm-12 col-form-label mb-0">Ubicación</label>
                                      <div class="col-12 ">
                                          <input type="text" class="form-control" id="exampleInputPassword2"
                                              autocomplete="off" placeholder="" formControlName="location"
                                              [ngClass]="{ 'is-invalid': form.controls.location.invalid && form.controls.location.touched}">
                                          <div *ngIf="form.controls.location.invalid" class="invalid-feedback">
                                              <p class="text-danger mt-1">Dato Obligatorio</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-12 col-md-6">
                                  <div class="form-group">
                                      <label for="exampleInputPassword2"
                                          class="col-sm-12 col-form-label mb-0">Latitud</label>
                                      <div class="col-12 ">
                                          <input type="text" class="form-control" id="exampleInputPassword2"
                                              autocomplete="off" placeholder="" formControlName="latitude"
                                              [ngClass]="{ 'is-invalid': form.controls.latitude.invalid && form.controls.latitude.touched}">
                                          <div *ngIf="form.controls.latitude.invalid" class="invalid-feedback">
                                              <p class="text-danger mt-1">Dato Obligatorio</p>
                                          </div>
                                      </div>
                                  </div>
    
                              </div>
    
                          </div>
                          <div class="row">
                              <div class="col-12 col-md-6">
                                  <div class="form-group">
                                      <label for="exampleInputPassword2"
                                          class="col-sm-12 col-form-label mb-0">Longitud</label>
                                      <div class="col-12 ">
                                          <input type="text" class="form-control" id="exampleInputPassword2"
                                              autocomplete="off" placeholder="" formControlName="length"
                                              [ngClass]="{ 'is-invalid': form.controls.length.invalid && form.controls.length.touched}">
                                          <div *ngIf="form.controls.length.invalid" class="invalid-feedback">
                                              <p class="text-danger mt-1">Dato Obligatorio</p>
                                          </div>
                                      </div>
                                  </div>
    
                              </div>
                              <div class="col-12 col-md-6">
                                  <div class="form-group">
                                      <label for="exampleInputPassword2"
                                          class="col-sm-12 col-form-label mb-0">Altura</label>
                                      <div class="col-12 ">
                                          <input type="text" class="form-control" id="exampleInputPassword2"
                                              autocomplete="off" placeholder="" formControlName="height"
                                              [ngClass]="{ 'is-invalid': form.controls.height.invalid && form.controls.height.touched}">
                                          <div *ngIf="form.controls.height.invalid" class="invalid-feedback">
                                              <p class="text-danger mt-1">Dato Obligatorio</p>
                                          </div>
                                      </div>
                                  </div>
    
                              </div>
    
    
                          </div>
                          <div class="row">
                              <div class="col-12 col-md-6">
                                  <div class="form-group">
                                      <label for="exampleInputPassword2"
                                          class="col-sm-12 col-form-label mb-0">Intervalo de tiempo</label>
                                      <div class="col-12 ">
                                          <input type="number" class="form-control" id="exampleInputPassword2"
                                              autocomplete="off" placeholder="" formControlName="timeInterval"
                                              [ngClass]="{ 'is-invalid': form.controls.timeInterval.invalid && form.controls.timeInterval.touched}">
                                          <div *ngIf="form.controls.timeInterval.invalid" class="invalid-feedback">
                                              <p class="text-danger mt-1">Dato Obligatorio</p>
                                          </div>
                                      </div>
                                  </div>
    
                              </div>
                            </div>
                      </div>
                  </div>
        </form>
    </ng-container>

  <ng-container *ngIf="!status.data && status.loading && !status.error">
    <div class="spinner-wrapper d-block bg-white h-100">
      <div class="spinner"></div>
    </div>
  </ng-container>
  <ng-container *ngIf="!status.data && !status.loading && status.error">
    <app-error-modal (tryAgain)="tryAgain()" ></app-error-modal>
  </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"  (click)="closeModal()">Cerrar</button>
    <button type="submit" class="btn btn-primary mr-2" (click)="save(form.value)"
    [disabled]="form.invalid || statusSave.loading">
    <ng-container *ngIf="statusSave.loading">
        <span class="spinner-grow spinner-grow-sm mr-1" role="statusSave"
            aria-hidden="true"></span>
        <span>Cargando</span>
    </ng-container>
    <ng-container *ngIf="!statusSave.loading">
        Guardar
    </ng-container>

</button>
  </div>