<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalle dispositivo: DEMO</li>
    </ol>
</nav>

<div class="card my-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 col-6">
                <h6 class="card-title mb-0">Nombre dispositivo</h6>
                <p class="text-muted">N° de serie</p>
               
            </div>
            <div class="col-md-3">
                <h6 class="card-title mb-0">Última Lectura</h6>
                <p class="text-muted">03-10-2020 14:05</p>
            </div>
            <div class="col-md-2">
                <h6 class="card-title mb-0">Rendimiento</h6>
                <p class="text-muted">rendimiento</p>
            </div>
            <div class="col-2 ">
                <h6 class="card-title mb-0"> Estado</h6>
                <p class="text-muted">Activo</p>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-danger btn-icon-text">
                    <i class="feather icon-slash btn-icon-prepend"></i>
                    Desactivar
                  </button>
            </div>
           

        </div>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <div class="card mb-3">
            <div class="card-body">
                <h6 class="card-title mb-1">Sensor  OnOff</h6>
                <button type="button" class="btn btn-danger btn-icon-text" >
                    <i class="feather icon-toggle-left btn-icon-prepend"></i>
                    off
                  </button>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card mb-3">
            <div class="card-body">
                <h6 class="card-title mb-1">Sensor  OnOff</h6>
                <button type="button" class="btn btn-success btn-icon-text" >
                    <i class="feather icon-toggle-right btn-icon-prepend"></i>
                    on
                  </button>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8 col-12">
                <h6 class="card-title">Gráficos</h6>
                <p class="card-description mb-0">Data {{type}}</p>
            </div>
            <div class="col-md-4 col-12 px-0 mt-3 mt-md-0">
                <div class="form-group">
                    <label for="exampleInputUsercalculation2" class="col-12 py-0 col-form-label">Tipo de sensor</label>
                    <div class="col-12">
                        <select class="custom-select form-control" id="exampleFormControlSelect1" [(ngModel)]="type">
                            <option value="caudal" selected>Caudal</option>
                            <option value="solar">Irradación Solar</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <ng-container *ngIf="type === 'caudal' ">
                <div class="col-12 mt-3">
                 
                    
                          <div class="row align-items-start mb-2">
                           
                            <div class="col-12 d-flex justify-content-center justify-content-md-end">
                              <div class="btn-group mb-3 mb-md-0" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-outline-primary">Today</button>
                                <button type="button" class="btn btn-outline-primary d-none d-md-block">Week</button>
                                <button type="button" class="btn btn-primary">Month</button>
                                <button type="button" class="btn btn-outline-primary">Year</button>
                              </div>
                            </div>
                          </div>
                          <div class="flot-wrapper">
                            <apx-chart
                              [series]="apexChart4Options.series"
                              [colors]="apexChart4Options.colors"
                              [chart]="apexChart4Options.chart"
                              [markers]="apexChart4Options.markers"
                              [grid]="apexChart4Options.grid"
                              [xaxis]="apexChart4Options.xaxis"
                              [yaxis]="apexChart4Options.yaxis"
                              [stroke]="apexChart4Options.stroke"
                              [tooltip]="apexChart4Options.tooltip"
                            ></apx-chart>
                          </div>
                     
    
                </div>
            </ng-container>
            <ng-container *ngIf="type === 'solar' " >
                <div class="col-12">
                    <div class="monthly-sales-chart-wrapper">
                        <!-- <canvas id="monthly-sales-chart"></canvas> -->
                        <canvas baseChart 
                          [datasets]="ng2BarChart1Data"
                          [labels]="ng2BarChart1Labels"
                          [options]="ng2BarChart1Options"
                          [colors]="ng2BarChart1Colors"
                          [legend]="ng2BarChart1Legend"
                          [chartType]="ng2BarChart1Type">
                        </canvas>
                      </div>
    
                </div>
            </ng-container>
        </div>
    </div>
</div>