
<ng-container *ngIf="status.data && !status.loading && !status.error">
<div class="row">
  <div class="col-md-4 col-9">
    <h4 class="mb-3 mb-md-0">Dispositivos <span class="badge badge-primary px-3">{{devices.length}}</span></h4>
  </div>
  <!-- <div class="d-block d-md-none col-3">
    <button type="button" class="btn btn-primary btn-icon-text w-100 d-flex justify-content-center" 
    data-toggle="modal" data-target="#exampleModal">
  
        <i class="btn-icon-prepend mr-0 " data-feather="plus-circle" appFeatherIcon></i>
        <span class="d-none ml-2 d-md-block">Agregar Dispositivo</span> 
     
    </button>
  </div> -->
  <div class="col-md-4 col-12">
    
  </div>
  <div class="col-12 mt-md-0 mt-3 col-md-4">
    <form class="search-form">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <em class="feather icon-search"></em>
          </div>
        </div>
        <input type="text" class="form-control" id="navbarForm" placeholder="Filtrar aquí..." (keyup)="filterByCell(myModel)" [(ngModel)]="myModel" name="filter">
      </div>
    </form>
   
  </div>
</div>


  <div class="row mt-5">
    <ng-container *ngFor="let item of devices; let i = index;" >
      <div class="col-md-6 col-lg-6 col-xl-4  col-12 grid-margin stretch-card">
        <div class="card" [ngClass]="{'notDevice': !item.date || !item.sensor.length}">
          <div class="card-body">
       
            <div class=" position-absolute cicle rounded-circle " [ngClass]="{ 'on': item.date, 'off': !item.date }" ></div>
   

            <div class="row">
              <div class="col-10 mb-2">
                <h6 class="card-title mb-0 text-dark">{{item.nombre}}</h6>
                <p class="text-muted">{{item.numeroSerie}}</p>
                
               
              </div>
              <div class="col-2">
                <ng-container *ngIf="isReload">
                  <i data-feather="refresh-ccw" class="imgr" appFeatherIcon></i>
                </ng-container>
              </div>
              <div class="col-12" *ngIf="item.date && item.sensor.length">
                <!-- <h6 class="card-title mb-0">Última actualización</h6> -->
                <p class="text-primary"><i data-feather="clock" appFeatherIcon></i> {{item.date | date: 'dd/MM/yyyy HH:mm'}}</p>
                <!-- <button class="btn btn-outline-primary w-100 px-0" (click)="goToDeviceDetail()" >{{item.date | date: 'dd/MM/yyyy HH:mm'}} </button> -->
              </div>
    
            </div>
            <div class="dropdown-divider" *ngIf="item.date && item.sensor.length"></div>
            <div class="row mt-4 mb-3" *ngIf="item.date && item.sensor.length">
              <ng-container *ngFor="let sensor of item.sensor; let i = index;" >
                <ng-container *ngIf="sensor.idTipoSensor !== 10">
                  <div class="col-12 d-flex justify-content-start mb-2">
                    <div>
                     
                      
                      
                      <label class=" text-muted">{{sensor.nombre}}:</label>
                      <label class="text-uppercase font-weight-medium valores " [ngClass]="{'rojo': sensor.actualizado, '': !sensor.actualizado}"> {{sensor.nuevoValor}} {{sensor.tipo}} </label>
                      <!-- <ng-container *ngIf="sensor.tipo === 'lts'" >
                        <em class="text-dark"  data-feather="droplet" appFeatherIcon></em>
                      </ng-container>
                      <ng-container *ngIf="sensor.tipo === 'Kw/h'" >
                        <em class="text-dark" data-feather="zap" appFeatherIcon></em>
                      </ng-container>
                      <ng-container *ngIf="sensor.tipo === 'm3'" >
                        <em class="text-dark" data-feather="box" appFeatherIcon></em>
                      </ng-container>
                      <ng-container *ngIf="sensor.tipo === 'mts' || sensor.tipo === 'cms' " >
                        <em class="text-dark" data-feather="layers" appFeatherIcon></em>
                      </ng-container> -->
                      <ng-container [ngSwitch]="sensor.tipo">
                        <ng-container *ngSwitchCase="'lts'"> <em class="text-dark"  data-feather="droplet" appFeatherIcon></em></ng-container>
                        <ng-container *ngSwitchCase="'Kw/h'"><em class="text-dark" data-feather="zap" appFeatherIcon></em></ng-container>
                        <ng-container *ngSwitchCase="'m3'"><em class="text-dark" data-feather="box" appFeatherIcon></em></ng-container>
                        <ng-container *ngSwitchCase="'mts'"><em class="text-dark" data-feather="layers" appFeatherIcon></em></ng-container>
                        <ng-container *ngSwitchCase="'%'"></ng-container>
                        <ng-container *ngSwitchDefault><em class="text-dark" data-feather="tag" appFeatherIcon></em> </ng-container>
                    </ng-container>
                      
                      
                    </div>
                  </div>
                  


                </ng-container>
              </ng-container>
            
            </div>
            <!-- <div class="dropdown-divider"  *ngIf="item.date && item.sensor.length"></div> -->

            <div class="row"  *ngIf="item.date && item.sensor.length">
              <ng-container *ngFor="let sensor of item.sensor; let i = index;" >

                <ng-container *ngIf="sensor.idTipoSensor === 10">

                  <div class="col-6 d-flex justify-content-start mb-2">
                    <div>
                     
                      <label class=" text-muted">{{sensor.nombre}}:</label><br/>
                      <mat-slide-toggle (change)="onChange($event.checked, sensor)" [checked]="sensor.valor === '1.0' ? true : false"> </mat-slide-toggle>
                     
                      <!-- <label class="text-uppercase font-weight-medium"> {{sensor.tipo === 'on/off' ? (sensor.valor === '1.0' ? 'ON' : 'OFF' )  : sensor.valor}} {{sensor.tipo === 'on/off' ? '' : sensor.tipo }}</label> -->
                    </div>
                  </div>
  
                </ng-container>
              </ng-container>
            </div>
            <ng-container *ngIf="!item.date || !item.sensor.length">
              <p class="text-dark mb-3">Dispositivo no posee sensores registrados</p>

            </ng-container>
            <button class="btn btn-primary btn-block " (click)="goToDeviceDetail()">Ver detalle</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-container *ngIf="!status.data && status.loading && !status.error">
  <div class="spinner-wrapper d-block">
    <div class="spinner"></div>
  </div>
</ng-container>
<ng-container *ngIf="!status.data && !status.loading && status.error">
  <app-error-service (tryAgain)="tryAgain()" ></app-error-service>
</ng-container>


