.cicle {
    top: -10px;
    right: 10px;
    width: 15px;
    height: 15px;
    
}
.off {
    background: #ff3366
}
.on {
    background: #10b759
}
@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(-360deg);}}
.imgr{
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.notDevice {
    height: 160px !important;
}
.valores {
    color: black;
}
.rojo {
    
    animation-name: ejemplo;
    animation-duration: 5s;
}
@keyframes ejemplo {
    0% {color: black;}
    15% {color: #ff3366; }
    75% {color: #ff3366;}
    100% {color: black;}
}