<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dispositivos</li>
    </ol>
</nav>

  
  <div class="row mt-3">
    <ng-container *ngIf="status.data && !status.loading && !status.error">
        <div class="col-md-12 stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="row">
                  <div class="col-6">
                      <h6 class="card-title">Dispositivos</h6>
                      <p class="card-description mb-0">Lista de dispositivos</p>
                  </div>
                  <div class="col-3">
                    <button class="btn btn-outline-primary w-100" >Exportar</button>
                  </div>
                  <div class="col-3">
                    <button type="button" class="btn btn-primary btn-icon-text w-100 d-flex justify-content-center" (click)="addDevice()">
      
                        <i class="btn-icon-prepend mr-0 " data-feather="plus-circle" appFeatherIcon></i>
                        <span class="d-none ml-2 d-md-block"  >Agregar Dispositivo</span> 
                     
                    </button>
    
                  </div>
    
              </div>
              <div class="row">
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3">
                  <form class="search-form">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="feather icon-search"></i>
                        </div>
                      </div>
                      <input type="text" class="form-control" id="navbarForm" placeholder="Buscar.." (keyup)="filterByCell(myModel)" [(ngModel)]="myModel" name="filter">
                    </div>
                  </form>
                </div>
              </div>
             
                  <div class="table-responsive mt-3">
                    <table id="dataTableExample" class="table">
                      <thead>
                        <tr>
                          <th>Descripción</th>
                          <th>N° Serie</th>
                          <th>Ubicación</th>
                          <th>Sensores</th>
                          <th>Fecha Lectura</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let item of devices; let i = index;" >
                            <tr>
                              <td>{{item.description}}</td>
                              <td>{{item.serialNumber}}</td>
                              <td>{{item.location}}</td>
                              <td>{{item.numberOfSensors}}</td>
                              <td>{{item.lastReading | date:"dd/MM/yyyy - HH:mm" }}</td>
                              <td>
                              
                                <button type="button" class="btn btn-outline-primary btn-icon px-1 mr-2" (click)="editDevice(item)" >
                                  <i  data-feather="edit" appFeatherIcon></i>
                                 </button>
                                 <button type="button" class="btn btn-danger btn-icon  px-1 mr-2" (click)="removeDevice(item.id)">
                                  <i  data-feather="trash" appFeatherIcon></i>
                                 </button>
                                 <button type="button" class="btn btn-primary" (click)="addSensor(item)">
                                  Agregar Sensor
                                </button>
                              </td>
                            </tr>
                        </ng-container>

                      </tbody>
                    </table>
                  </div>
          
    
              
            </div>
          </div>
          
        </div>
    </ng-container>
  </div>

  <ng-container *ngIf="!status.data && status.loading && !status.error">
    <div class="spinner-wrapper d-block">
      <div class="spinner"></div>
    </div>
  </ng-container>
  


