<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
  </ol>
</nav>

<ng-container *ngIf="status.data && !status.loading && !status.error">
  <div class="row mt-3">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h6 class="card-title">Usuarios</h6>
              <p class="card-description mb-0">Lista de Usuarios</p>
            </div>
            <div class="col-3">
              <button class="btn btn-outline-primary w-100">Exportar</button>
            </div>
            <div class="col-3">
              <button type="button" class="btn btn-primary btn-icon-text w-100 d-flex justify-content-center"
                (click)="add()">

                <i class="btn-icon-prepend mr-0 " data-feather="plus-circle" appFeatherIcon></i>
                <span class="d-none ml-2 d-md-block">Agregar Cliente</span>

              </button>

            </div>

          </div>
          <div class="row">
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3">
              <form class="search-form">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="feather icon-search"></i>
                    </div>
                  </div>
                  <input type="text" class="form-control" id="navbarForm" placeholder="Buscar.."
                    (keyup)="filterByCell(myModel)" [(ngModel)]="myModel" name="filter">
                </div>
              </form>
            </div>
          </div>

          <div class="table-responsive mt-3">
            <table id="dataTableExample" class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Cargo</th>
                  <th>Rol</th>
                  <th>Correo electrónico</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let user of users; let i = index;">
                  <tr>
                    <td>{{user.nombre}}</td>
                    <td>{{user.cargo}}</td>
                    <td>{{user.idRol}}</td>
                    <td>{{user.correoElectronico}}</td>
                    <td>{{user.activo}}</td>
                    <td>{{user.correoElectronico }}</td>
                    <td>

                      <button type="button" class="btn btn-outline-primary btn-icon px-1 mr-2" (click)="edit(user)">
                        <i data-feather="edit" appFeatherIcon></i>
                      </button>
                      <button type="button" class="btn btn-danger btn-icon  px-1 mr-2" (click)="remove()">
                        <i data-feather="trash" appFeatherIcon></i>
                      </button>
                    </td>

                  </tr>
                </ng-container>


              </tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-container>

<ng-container *ngIf="!status.data && status.loading && !status.error">
  <div class="spinner-wrapper d-block">
    <div class="spinner"></div>
  </div>
</ng-container>