<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
  </ol>
</nav>

<ng-container *ngIf="status.data && !status.loading && !status.error">
  <div class="row mt-3">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row mb-3 mb-md-0">
            <div class="col-6 col-md-4 col-xl-6">
              <h6 class="card-title">Usuarios</h6>
              <p class="card-description mb-0">Lista de Usuarios</p>
            </div>
            <div class="col-3 col-md-4 col-xl-3">
              <button class="btn btn-outline-primary  btn-icon-text w-100 d-flex justify-content-center" >
                <div>
                  <em class="btn-icon-prepend mr-0 d-block  d-md-none" data-feather="download" appFeatherIcon></em>
                  <span class="d-none ml-2 d-md-block"  >Exportar</span> 
                </div>
              </button>
            </div>
            <div class="col-3 col-md-4 col-xl-3">
              <!-- <button type="button" class="btn btn-primary btn-icon-text w-100 d-flex justify-content-center"
                (click)="add()"> -->
                <button type="button" class="btn btn-primary btn-icon-text w-100 d-flex justify-content-center"
                >
                <div>
                  <em class="btn-icon-prepend mr-0 d-block  d-md-none " data-feather="plus-circle" appFeatherIcon></em>
                  <span class="d-none ml-2 d-md-block"  >Agregar Usuario</span> 
                </div>
              </button>

            </div>

          </div>
          <div class="row">
            <div class="col-0 col-md-4 col-xl-6"></div>
            <div class="col-12 col-md-8 col-xl-6">
              <form class="search-form">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <em class="feather icon-search"></em>
                    </div>
                  </div>
                  <input type="text" class="form-control" id="navbarForm" placeholder="Buscar.." (keyup)="filterByCell(myModel)" [(ngModel)]="myModel" name="filter">
                </div>
              </form>
            </div>
          </div>

          <div class="table-responsive mt-3">
            <table id="dataTableExample" class="table">
              <thead>
                <tr>
                  <th id="nombre">Nombre</th>
                  <th id="cargo">Cargo</th>
                  <th id="rol">Rol</th>
                  <th id="correo">Correo electrónico</th>
                  <th id="estado">Estado</th>
                  <th id="acciones">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let user of users; let i = index;">
                  <tr>
                    <td>{{user.nombre}}</td>
                    <td>{{user.cargo}}</td>
                    <td>
                      <ng-container *ngIf="user.idRol === 1">
                        Administrador
                      </ng-container>
                      <ng-container *ngIf="user.idRol === 2">
                        Usuario
                      </ng-container>
                      <ng-container *ngIf="user.idRol === 3">
                        Demo
                      </ng-container>
                      

                    </td>
                    <td>{{user.correoElectronico}}</td>
                    <td>{{user.activo ? 'Activo' : 'No activo'}}</td>
                    <td>{{user.correoElectronico }}</td>
                    <td>

                      <!-- <button type="button" class="btn btn-outline-primary btn-icon px-1 mr-2" (click)="edit(user)"> -->
                        <button type="button" class="btn btn-outline-primary btn-icon px-1 mr-2" >

                        <em data-feather="edit" appFeatherIcon></em>
                      </button>
                      <!-- <button type="button" class="btn btn-danger btn-icon  px-1 mr-2" (click)="remove(user.idUsuario)"> -->
                        <button type="button" class="btn btn-danger btn-icon  px-1 mr-2" >
                        <em data-feather="trash" appFeatherIcon></em>
                      </button>
                    </td>

                  </tr>
                </ng-container>
                <ng-container *ngIf="!users.length">
                  <tr>
                      <td colspan="7" class="text-center">
                        No se encontraro resultados su búsqueda
                      </td>
                  </tr>
              </ng-container>


              </tbody>
 
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-container>

<ng-container *ngIf="!status.data && status.loading && !status.error">
  <div class="spinner-wrapper d-block">
    <div class="spinner"></div>
  </div>
</ng-container>
<ng-container *ngIf="!status.data && !status.loading && status.error">
  <app-error-service (tryAgain)="tryAgain()" ></app-error-service>
</ng-container>