<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Cambiar contraseña</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <form class="forms-sample" [formGroup]="form">
            <div class="row d-flex justify-content-center">
                <div class="col-10">
                    <div class="row">
                        <div class="col-12 "> 
                          
                                <div class="form-group">
                                    <label for="exampleInputEmail2"
                                        class="col-sm-12 col-form-label">Nueva contraseña</label>
                                    <div class="col-12">
                                        <input type="password" class="form-control" id="exampleInputEmail2"
                                            autocomplete="off" placeholder="Nombre" formControlName="password"
                                            [ngClass]="{ 'is-invalid': form.controls.password.invalid && form.controls.password.touched}">
                                        <div *ngIf="form.controls.password.invalid" class="invalid-feedback">
                                            <p class="text-danger mt-1">Dato Obligatorio</p>
                                        </div>
                                    </div>
                                </div>
                        </div>                     
                    </div>
                </div>
            </div>
        </form>

</div>
<div class="modal-footer">
    <button class="btn btn-light" (click)="closeModal()">Cerrar</button>
    <button type="submit" class="btn btn-primary mr-2" (click)="save(form.value)"
    [disabled]="form.invalid || statusSave.loading">
    <ng-container *ngIf="statusSave.loading">
        <span class="spinner-grow spinner-grow-sm mr-1" role="status"
            aria-hidden="true"></span>
        <span>Cargando</span>
    </ng-container>
    <ng-container *ngIf="!statusSave.loading">
        Guardar
    </ng-container>

</button>
  </div>
