<nav class="sidebar">
  <div class="sidebar-header">

    <!--- Logo -->
    <a routerLink="/" class="sidebar-brand">
      <img src="../../../../assets/images/logo.webp">
    </a>

    <!--- Toggler -->
    <div class="sidebar-toggler not-active" #sidebarToggler (click)="toggleSidebar($event)">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>
  <div class="sidebar-body" (mouseenter)="operSidebarFolded()" (mouseleave)="closeSidebarFolded()" [perfectScrollbar]>

    <!--- Sidemenu start -->

    <ul class="sidebar-nav metismenu" id="sidebar-menu" #sidebarMenu>
         
          <li class="nav-item"  >
            <a class="nav-link nav-link-ref" [routerLink]="'/dashboard'" >
              <em class="link-icon" [attr.data-feather]="'home'" appFeatherIcon ></em>
              <span class="link-title"> Dashboard</span>
            </a>
          </li>
          <ng-container *ngIf="role === 1 || role === 3">
            <li class="nav-item nav-category">Administración</li>
            <li class="nav-item"  >
              <a class="nav-link nav-link-ref" [routerLink]="'/dashboard/device-list'" >
                <em class="link-icon" [attr.data-feather]="'cpu'" appFeatherIcon ></em>
                <span class="link-title"> Dispositivos</span>
              </a>
            </li>
            <li class="nav-item"  >
              <a class="nav-link nav-link-ref" [routerLink]="'/dashboard/user-list'" >
                <em class="link-icon" [attr.data-feather]="'users'" appFeatherIcon ></em>
                <span class="link-title"> Usuariarios</span>
              </a>
            </li>
            <li class="nav-item"  >
              <a class="nav-link nav-link-ref" [routerLink]="'/dashboard/client-list'" >
                <em class="link-icon" [attr.data-feather]="'briefcase'" appFeatherIcon ></em>
                <span class="link-title"> Clientes</span>
              </a>
            </li>
            <li class="nav-item nav-category">Configuración</li>
            <li class="nav-item"  >
              <a class="nav-link nav-link-ref" [routerLink]="'/dashboard/general'" >
                <em class="link-icon" [attr.data-feather]="'settings'" appFeatherIcon ></em>
                <span class="link-title"> Tipos de Medidas</span>
              </a>
            </li>
          </ng-container>
   
    </ul>

    <!--- Sidemenu end -->

  </div>
</nav>
<nav class="settings-sidebar">
  <div class="sidebar-body">
    <a href="" class="settings-sidebar-toggler d-none" (click)="toggleSettingsSidebar($event)">
      <i class="icon feather icon-settings"></i>
    </a>
    <h6 class="text-muted">Sidebar:</h6>
    <div class="form-group border-bottom">
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="sidebarThemeSettings" (change)="onSidebarThemeChange($event)" id="sidebarLight" value="sidebar-light" checked>
          <i class="input-frame"></i>
          Light
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="sidebarThemeSettings" (change)="onSidebarThemeChange($event)" id="sidebarDark" value="sidebar-dark">
          <i class="input-frame"></i>
          Dark
        </label>
      </div>
    </div>
    <div class="theme-wrapper">
      <h6 class="text-muted mb-2">Light Theme:</h6>
      <a class="theme-item active" href="https://www.nobleui.com/angular/template/demo1/">
        <img src="assets/images/screenshots/light.jpg" alt="light theme">
      </a>
      <h6 class="text-muted mb-2">Dark Theme:</h6>
      <a class="theme-item" href="https://www.nobleui.com/angular/template/demo2/">
        <img src="assets/images/screenshots/dark.jpg" alt="dark theme">
      </a>
    </div>
  </div>
</nav>