<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Clientes</li>
    </ol>
</nav>

<ng-container *ngIf="status.data && !status.loading && !status.error">
  <div class="row mt-3">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row mb-3 mb-md-0">
              <div class="col-6 col-md-4 col-xl-6">
                  <h6 class="card-title">Clientes</h6>
                  <p class="card-description mb-0">Lista de clientes</p>
              </div>
              <div class="col-3 col-md-4 col-xl-3">
                <button class="btn btn-outline-primary  btn-icon-text w-100 d-flex justify-content-center" >
                  <div>
                    <em class="btn-icon-prepend mr-0 d-block  d-md-none" data-feather="download" appFeatherIcon></em>
                    <span class="d-none ml-2 d-md-block"  >Exportar</span> 
                  </div>
                </button>
              </div>
              <div class="col-3 col-md-4 col-xl-3">
                <button type="button" class="btn btn-primary btn-icon-text w-100 d-flex justify-content-center"
                (click)="addClient()">
                <div>
                  <em class="btn-icon-prepend mr-0 d-block  d-md-none " data-feather="plus-circle" appFeatherIcon></em>
                  <span class="d-none ml-2 d-md-block"  >Agregar Cliente</span> 
                </div>
              </button>
              </div>

          </div>
          <div class="row">
            <div class="col-0 col-md-4 col-xl-6"></div>
            <div class="col-12 col-md-8 col-xl-6">
              <form class="search-form">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <em class="feather icon-search"></em>
                    </div>
                  </div>
                  <input type="text" class="form-control" id="navbarForm" placeholder="Buscar.." (keyup)="filterByCell(myModel)" [(ngModel)]="myModel" name="filter">
                </div>
              </form>
            </div>
          </div>

          <div class="table-responsive mt-3">
            <table id="dataTableExample" class="table">
              <thead>
                <tr>
                  <th id="">Nombre</th>
                  <th id="">Razon Social</th>
                  <th id="">Rut</th>
                  <th id="">Región</th>
                  <th id="">Correo electrónico</th>
                  <th id="">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let client of clients; let i = index;" >
                  <tr>
                    <td>{{client.nombre}}</td>
                    <td>{{client.razonSocial}}</td>
                    <td>{{client.rut}}</td>
                    <td>{{client.region}}</td>
                    <td>{{client.correoElectronico }}</td>
                    <td>
                    
                      <button type="button" class="btn btn-outline-primary btn-icon px-1 mr-2" (click)="edit(client)" >
                        <i  data-feather="edit" appFeatherIcon></i>
                       </button>
                       <button type="button" class="btn btn-danger btn-icon  px-1 mr-2" (click)="remove(client.idCliente)">
                        <i  data-feather="trash" appFeatherIcon></i>
                       </button>
                    </td>
                  </tr>

                </ng-container>
                <ng-container *ngIf="!clients.length">
                  <tr>
                      <td colspan="6" class="text-center">
                        No se encontraro resultados su búsqueda
                      </td>
                  </tr>
              </ng-container>
              </tbody>
            
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!status.data && status.loading && !status.error">
  <div class="spinner-wrapper d-block">
    <div class="spinner"></div>
  </div>
</ng-container>


