/* You can add global styles to this file, and also import other style files */
.fondo {
    position:relative;
    background: rgb(5,13,25);  /* Se usa en caso de falla para los computadores antiguos */
    background: rgba(5,13,25,0.5);
    background: url('../src/assets/images/background.jpg') no-repeat;
    background-size: cover;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '@angular/material/prebuilt-themes/indigo-pink.css';


